Marketing/Social-Media/2026-06-09-Automated Social Media Content Generation from News Sources.json
{
  "name": "Automated Social Media Content Generation from News Sources",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "fe685181-cb0b-4cbc-a2a8-17d3fa62ebf0",
      "name": "Daily Trigger 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "rssUrl",
              "value": "<__PLACEHOLDER_VALUE__RSS Feed URL (e.g., https://feeds.feedburner.com/TechCrunch/)__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "googleSheetId",
              "value": "<__PLACEHOLDER_VALUE__Google Sheet ID for ContentIdeas__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "contentPostsSheetId",
              "value": "<__PLACEHOLDER_VALUE__Google Sheet ID for ContentPosts__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f6599390-d5a0-4b01-ba30-f20cea8a9f81",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.rssUrl }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "ddaa7594-38d8-45e9-a417-54d695e20def",
      "name": "Fetch News RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Handle different RSS feed structures\n  let newsItems = [];\n  \n  if (data.rss && data.rss.channel && data.rss.channel.item) {\n    newsItems = Array.isArray(data.rss.channel.item) ? data.rss.channel.item : [data.rss.channel.item];\n  } else if (data.feed && data.feed.entry) {\n    newsItems = Array.isArray(data.feed.entry) ? data.feed.entry : [data.feed.entry];\n  } else if (Array.isArray(data.items)) {\n    newsItems = data.items;\n  } else if (data.items) {\n    newsItems = [data.items];\n  }\n  \n  for (const newsItem of newsItems) {\n    output.push({\n      json: {\n        title: newsItem.title || newsItem.title?.[0] || '',\n        description: newsItem.description || newsItem.summary || newsItem.description?.[0] || newsItem.summary?.[0] || '',\n        link: newsItem.link || newsItem.link?.[0]?.['$']?.href || newsItem.link?.[0] || '',\n        pubDate: newsItem.pubDate || newsItem.published || newsItem.pubDate?.[0] || newsItem.published?.[0] || new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "87a9247c-9f5c-421b-9a9c-5834410d510b",
      "name": "Loop Over News Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "operation": "message"
      },
      "id": "9dbed5b4-d8ac-418b-9e22-c0695c7161c6",
      "name": "Generate Content Ideas",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "bZ4xCw90jPAT7PVB",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  try {\n    const aiResponse = item.json.message?.content || item.json.text || '';\n    \n    // Try to extract JSON from the response\n    let jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n    let parsedData;\n    \n    if (jsonMatch) {\n      parsedData = JSON.parse(jsonMatch[0]);\n    } else {\n      // Fallback if no JSON found\n      parsedData = {\n        idea_title: 'Content Idea',\n        idea_angle: aiResponse.substring(0, 200)\n      };\n    }\n    \n    output.push({\n      json: {\n        date: new Date().toISOString().split('T')[0],\n        source_url: item.json.link || '',\n        idea_title: parsedData.idea_title || '',\n        idea_angle: parsedData.idea_angle || '',\n        status: 'open'\n      }\n    });\n  } catch (error) {\n    // Error handling - still output something\n    output.push({\n      json: {\n        date: new Date().toISOString().split('T')[0],\n        source_url: item.json.link || '',\n        idea_title: 'Parse Error',\n        idea_angle: 'Could not parse AI response',\n        status: 'open'\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "2ce3a9e1-1a5e-4935-ad0c-37bc9f77444b",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.googleSheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "ContentIdeas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_url": "={{ $json.source_url }}",
            "date": "={{ $json.date }}",
            "idea_title": "={{ $json.idea_title }}",
            "idea_angle": "={{ $json.idea_angle }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "source_url"
          ],
          "schema": [
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "idea_title",
              "displayName": "idea_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "idea_angle",
              "displayName": "idea_angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "903eaca9-68c9-45c7-adbb-c595935937d7",
      "name": "Write to ContentIdeas Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "732fcbdb-4f05-4301-8db7-b0335c67f587",
      "name": "3x Weekly Trigger 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "833582bf-dad2-4c14-a671-99eab0dc57de",
      "name": "Workflow Configuration WF2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "a6cfb8ec-787a-4e64-8659-e833fdbe3017",
      "name": "Read Open Ideas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "d5608421-c275-404a-96bb-6fe5279d6ace",
      "name": "Create Content from Idea",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        672,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "bZ4xCw90jPAT7PVB",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "id": "09d85574-aab1-4bfc-9af9-f3c8f0473bc7",
      "name": "Parse Content JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        224
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "79ccaa45-8ecd-4dd8-af50-2b3ad0c1163c",
      "name": "Write to ContentPosts Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        224
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "8229a7ad-b2fc-4773-92eb-ed0e73684f0a",
      "name": "Mark Idea as Used",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1d705c47-bfbb-44ca-8425-e997321580ef",
      "name": "Send Preview Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1696,
        224
      ],
      "webhookId": "f108b64b-6b1b-44f8-861b-0db7cafc8bb8"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger 08:00": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch News RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News RSS Feed": {
      "main": [
        [
          {
            "node": "Loop Over News Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over News Items": {
      "main": [
        [
          {
            "node": "Generate Content Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content Ideas": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Write to ContentIdeas Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3x Weekly Trigger 09:00": {
      "main": [
        [
          {
            "node": "Workflow Configuration WF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration WF2": {
      "main": [
        [
          {
            "node": "Read Open Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Open Ideas": {
      "main": [
        [
          {
            "node": "Create Content from Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Content from Idea": {
      "main": [
        [
          {
            "node": "Parse Content JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content JSON": {
      "main": [
        [
          {
            "node": "Write to ContentPosts Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to ContentPosts Sheet": {
      "main": [
        [
          {
            "node": "Mark Idea as Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Idea as Used": {
      "main": [
        [
          {
            "node": "Send Preview Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d55074b2-435e-4790-9e55-6eb773563d81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40f6c66f90b9a1fe1c10006bcd77b7559adbd7cf3f6952c02b5b0bb49c0e5344"
  },
  "id": "y0TBwru5KmiG3byn",
  "tags": []
}