Produkte/Beschaffungsagent/Lead Enrichment with Personalized German Icebreakers from Website Content (1).json
{
  "name": "Lead Enrichment with Personalized German Icebreakers from Website Content",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5650ecb7-4b78-4cc7-9743-abcc50046180",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1088,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Clean Data (per item) – wie zuvor funktionierend\nconst d = { ...$json };\n\nfunction normalize(u) {\n  if (!u) return '';\n  u = String(u).trim();\n  if (!/^https?:\\/\\//i.test(u)) u = 'https://' + u;      // Schema ergänzen\n  u = u.replace(/^http:\\/\\//i, 'https://');              // https erzwingen\n  u = u.replace(/\\/+$/, '');                             // trailing slash weg\n  return u;\n}\n\nconst fn = (d.first_name || '').trim();\nconst firstClean = fn ? fn[0].toUpperCase() + fn.slice(1).toLowerCase() : '';\n\nconst origin = normalize(d.organization_website_url);\n\n// WICHTIG: bei “Run Once for Each Item”/Function Item EIN Objekt zurückgeben\nreturn {\n  json: {\n    ...d,\n    firstClean,\n    organization_website_url: origin || (d.organization_website_url || ''),\n    // für die nächsten Nodes (Fetch Page Content) setzen wir pageUrl gleich mit\n    pageUrl: origin || (d.organization_website_url || '')\n  }\n};\n"
      },
      "id": "1b3ca15c-d66d-4217-8ed1-52d893eb0837",
      "name": "Clean Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Clean Data').item.json.email }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $('Clean Data').item.json.organization_website_url }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "693f65d8-0851-4b0c-b09e-beb8b7140b32",
      "name": "Check Email and Website",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        352
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html_for_llm",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "body",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "id": "05050caf-5c13-434b-b31e-b1b00d777fe7",
      "name": "Extract HTML Content",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3152,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "={{$json.content}}",
        "options": {}
      },
      "id": "d8569cfa-639b-44de-a874-b9d9f3dbd6c2",
      "name": "HTML to Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        3648,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// nimmt den Text aus \"markdown\" (oder fällt auf \"data\" zurück) und kürzt auf 5000 Zeichen\nconst text = String($json.markdown ?? $json.data ?? '').slice(0, 5000);\nreturn {\n  json: {\n    ...$json,\n    pageText: text,\n  }\n};\n"
      },
      "id": "957c9f15-a945-4613-a8b0-eee6d5900781",
      "name": "Truncate Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analysiere den folgenden Text und antworte mit JSON im Format {\"abstract\":\"2 kurze Absätze\"}. Wenn der Text leer oder irrelevant ist, antworte mit {\"abstract\":\"no content\"}. Text: {{ $json.pageText }}",
        "messages": {
          "messageValues": [
            {
              "message": "Antworte nur mit gültigem JSON, ohne zusätzlichen Text."
            }
          ]
        },
        "batching": {}
      },
      "id": "1c51052c-e9bf-46dd-82dd-56023e4e8292",
      "name": "Summarize Page",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        4512,
        64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// LLM-Output-Feld anpassen, falls es anders heißt (z.B. result/text/message)\nlet raw = $json.output ?? $json.response ?? $json.data ?? '';\n\nlet abstract = 'no content';\n\nif (raw && typeof raw === 'object') {\n  // Falls der LLM schon ein Objekt geliefert hat\n  abstract = raw.abstract ?? abstract;\n} else if (typeof raw === 'string') {\n  // Versuche JSON direkt zu parsen\n  try {\n    const obj = JSON.parse(raw);\n    abstract = obj?.abstract ?? abstract;\n  } catch {\n    // Falls der LLM JSON in Text eingebettet hat: JSON-Teil herausziehen und parsen\n    const m = raw.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { abstract = (JSON.parse(m[0]).abstract ?? abstract); } catch {}\n    }\n  }\n}\n\nreturn { json: { ...$json, abstract } };\n"
      },
      "id": "fdd83f27-8ab5-4eed-8425-c17ff40874ea",
      "name": "Parse JSON Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bekommst die folgenden Input-Daten zu einer Organisation:\n\nemail: \"{{$json.email}}\"\nindustry: \"{{$json.industry}}\"\norganization_name: \"{{$json.organization_name}}\"\norganization_website_url: \"{{$json.organization_website_url}}\"\nfirst_name: \"{{$json.first_name}}\"\nlast_name: \"{{$json.last_name}}\"\nlinkedin_url: \"{{$json.linkedin_url}}\"\n\nKontext (Originalbeschreibung / Außenauftritt von {{$json.organization_name}}):\n\"\"\"{{$json.text}}\"\"\"\n\nAUFGABE:\nErzeuge drei Dinge:\n1. Eine formelle deutschsprachige Anredezeile für die Person (Feld \"salutation\").\n2. Eine personalisierte deutsche Icebreaker-Ansprache (Feld \"icebreaker_de\", max. 350 Zeichen) für {{$json.organization_name}} nach den Regeln unten.\n3. Einen höflichen Call to Action (Feld \"call_to_action\") nach den Regeln unten.\n\nWICHTIG – KONTEXT-LOGIK für den Icebreaker:\n\nFALL A (Kontext ist inhaltlich verwertbar = enthält echte Aussagen über Positionierung, Leistungsversprechen, Kundenfokus, Ergebnisorientierung, Kanal- oder Kampagnen-Ansatz, Qualitätsanspruch etc.):\n\n- Verwende AUSSCHLIESSLICH Formulierungen, Begriffe, Versprechen, Schwerpunkte, Wirkungs-Claims oder Arbeitsweisen, die im Kontext GENAU so vorkommen oder klar erkennbar daraus ableitbar sind.\n- Erfinde KEINE Leistungen, Methoden, Tools, Cases oder Versprechen, die NICHT explizit oder eindeutig im Kontext stehen.\n- Nenne KEINE Begriffe oder Claims, die NICHT im Kontext vorkommen.\n\nFALL B (Kontext ist leer, technisch, unbrauchbar oder sagt faktisch nichts über die Arbeitsweise mit Kund:innen aus – z. B. nur Cookie-Hinweise, Navigationslinks, rechtliche Pflichttexte, Logins, generische Slogans ohne Substanz oder gar kein echter Inhalt):\n\nDann formuliere bitte trotzdem einen Icebreaker für {{$json.organization_name}} mit folgender Idee:\n\n- Einstieg: Sprich allgemein über den Anspruch, Kund:innen wirklich Ergebnisse zu liefern – nicht nur hübsche Kampagnen, sondern Klarheit, Performance und Verlässlichkeit.\n- Wertschätzung: Mach deutlich, dass das echte Projektarbeit ist: Abstimmung, schnelle Reaktion, laufende Steuerung.\n- Aufwand: Betone, dass das extrem viel Koordination, Kommunikation, Statusabfragen, Reportings und permanente Betreuung frisst.\n- Digitaler Klon: Deute an, dass ein eigener KI-Agent als euer digitaler Klon wiederkehrende Aufgaben übernehmen könnte – z. B. Reporting liefern, Fragen beantworten, Status updaten – ohne eure persönliche Qualität zu verwässern.\n\nGANZ WICHTIG:\n- Du DARFST NIEMALS sagen oder andeuten, dass man „von außen wenig sieht“, „kaum Infos findet“, „kein Auftritt erkennbar ist“, „öffentlich nichts sichtbar ist“, „man nicht viel über euch findet“, „euer Außenauftritt ist reduziert“ o. ä. Solche Sätze sind VERBOTEN.\n- Du DARFST NICHT behaupten, dass ihr absichtlich wenig nach außen zeigt.\n\nICEBREAKER-INHALT (Feld \"icebreaker_de\"):\n- Max. 350 Zeichen.\n- 1 bis 3 kurze Sätze. KEINE Zeilenumbrüche.\n- Muss in genau dieser Reihenfolge diese vier Elemente enthalten:\n\n1. Einstieg:\n   FALL A: Starte mit einer klaren Beobachtung aus dem Kontext zu {{$json.organization_name}} (Fokus, Versprechen, Spezialisierung, Ergebnisorientierung oder Arbeitsansatz, so wie sie es selbst formulieren).\n   FALL B: Wenn der Kontext unbrauchbar ist, starte mit einer Beobachtung über euren Anspruch, Kund:innen wirklich verlässliche Ergebnisse und Klarheit zu liefern – nicht nur schöne Creatives, sondern handfeste Wirkung.\n\n2. Konkretes Detail / Wertschätzung:\n   FALL A: Nenne ein nicht triviales Detail aus dem Kontext (z. B. wie ihr Kampagnen steuert, welche Art Kund:innen ihr begleitet, welchen Anspruch ihr an Messbarkeit/Verlässlichkeit habt, wie ihr Marketing klar umsetzt statt nur zu reden). Zeig echte Wertschätzung.\n   FALL B: Betone, dass das nur funktioniert, weil ihr nah dran seid: Abstimmungen, schnelle Antworten, Status-Checks, vorausschauendes Steuern statt Chaos.\n\n3. Emotionale Spiegelung des Aufwands:\n   Mach klar, dass dieser Anspruch euch viel persönliche Präsenz, Fokus und Energie abverlangt – ständiges Dranbleiben an Kund:innen, parallel laufende Projekte, Reports, Rücksprachen, Koordination, Status-Updates, kleine Dinge, die Zeit ziehen.\n   VERBOTENE Wörter (NUR verwenden, wenn sie wörtlich im Kontext stehen und exakt so geschrieben sind): \"Nachbereitung\", \"Dokumentation\", \"Follow-ups\".\n   Wichtig: \"Abstimmung\", \"Koordination\", \"Status-Updates\", \"Reports\" sind erlaubt.\n\n4. Weiche Entlastungsskizze:\n   Deute an, dass genau dort ein eigener KI-Agent als euer digitaler Klon wiederkehrende Aufgaben übernehmen könnte – z. B. Reportings bauen, Status-Updates teilen, Rückfragen beantworten – damit ihr Luft für die eigentliche Qualität habt, ohne eure Hands-on-Betreuung zu schwächen.\n   KEIN Call-to-Action im Icebreaker selbst.\n\nSPRACHE FÜR DEN ICEBREAKER:\n- Direkt, nah, emotional.\n- Sprich mit \"ihr / eure\", nicht \"du\".\n- Keine Buzzwords wie \"innovativ\", \"State of the Art\", \"maßgeschneidert\", \"ganzheitlich\".\n- Keine Emojis, keine Links.\n- KEINE Aussagen wie \"man sieht von außen wenig\" oder \"öffentlich findet man kaum Infos über euch\".\n\nANREDE-LOGIK (Feld \"salutation\"):\n- Versuche, das Geschlecht aus first_name abzuleiten.\n- männlich -> \"Sehr geehrter Herr {last_name},\"\n- weiblich -> \"Sehr geehrte Frau {last_name},\"\n- unklar / neutral / nicht eindeutig:\n  - Wenn first_name und last_name vorhanden: \"Guten Tag {first_name} {last_name},\"\n  - Wenn nur last_name vorhanden: \"Guten Tag {last_name},\"\n  - Sonst: \"Guten Tag,\"\n- Die Anredezeile muss mit Komma enden.\n- Kein Duzen.\n- Keine Zeilenumbrüche.\n\nNATÜRLICHE UMLAUT-SCHREIBWEISE FÜR {last_name} IN DER ANREDE:\n- Wenn der Nachname im Deutschen klar ein Umlaut tragen würde, schreibe ihn in der Anrede mit Umlaut, auch wenn er im Input mit ae/oe/ue steht.\n  Beispiele:\n  - \"Schroeder\" -> \"Schröder\"\n  - \"MUELLER\" oder \"Mueller\" -> \"Müller\"\n  - \"Schaefer\" -> \"Schäfer\"\n- Ersetze also innerhalb des Nachnamens in der Anrede:\n  - \"ae\" -> \"ä\" / \"Ae\" -> \"Ä\"\n  - \"oe\" -> \"ö\" / \"Oe\" -> \"Ö\"\n  - \"ue\" -> \"ü\" / \"Ue\" -> \"Ü\"\n- WICHTIG: Diese Umschreibung gilt NUR in der Ausgabe von \"salutation\". In allen anderen Feldern (z. B. \"last_name\" im JSON) muss der Name exakt so bleiben wie übergeben.\n\nCALL TO ACTION (Feld \"call_to_action\"):\n- Schreibe einen einzelnen höflichen Satz in diesem Stil:\n  \"Wenn Sie möchten, erkläre ich Ihnen in einem kurzen Gespräch, wie das für [Unternehmensname] aussehen kann:\"\n  oder\n  \"Wenn Sie möchten, erkläre ich Ihnen in einem kurzen Telefonat, wie das für [Unternehmensname] aussehen kann:\"\n- Der Satz MUSS:\n  - mit \"Wenn Sie möchten, erkläre ich Ihnen\" beginnen,\n  - direkt danach \"in einem kurzen Gespräch\" ODER \"in einem kurzen Telefonat\" enthalten,\n  - dann \"wie das für [Unternehmensname] aussehen kann\",\n  - und mit einem Doppelpunkt \":\" enden.\n- KEINE Dauerangabe (\"5 Minuten\", \"1 Minute\").\n- KEIN weiterer Halbsatz mit Nutzenargumentation (kein Pitch zu KI, Status-Updates, Reporting etc.).\n- KEIN Link, keine Emojis.\n\nWIE DU DEN UNTERNEHMENSNAMEN IM CTA SCHREIBST:\n1. Lies zuerst den Kontext (\"\"\"{{$json.text}}\"\"\") und schau, wie das Unternehmen sich selbst nennt.\n   - Wenn im Kontext steht: \"Wir bei prozessia ...\" → nutze \"prozessia\".\n   - Wenn im Kontext steht: \"Die Creative Agency entwickelt ...\" → nutze \"die Creative Agency\".\n   - Wenn im Kontext steht: \"Die Bayer AG fokussiert sich ...\" → nutze \"die Bayer AG\".\n2. Wenn der Kontext keine klare Selbstbezeichnung liefert, verwende {{$json.organization_name}} in natürlicher Form:\n   - Wenn der Name klar wie eine Agentur / Praxis / Klinik / Gruppe / Holding / Agency / GmbH / AG etc. klingt, darfst du \"die\" davor setzen (\"die Creative Agency\", \"die Bayer AG\").\n   - Wenn der Name wie ein klarer Markenname wirkt (z. B. \"prozessia\", \"Webwokr\"), verwende ihn ohne Artikel (\"prozessia\").\n3. Wenn du unsicher bist, verwende KEINEN Artikel.\n4. Du darfst minimale Glättungen machen (z. B. \"CREATIVE AGENCY UG (haftungsbeschränkt)\" -> \"die Creative Agency\"). Du darfst aber keinen Fantasienamen erfinden.\n\nBeispiele für gültige CTA-Formulierungen:\n- \"Wenn Sie möchten, erkläre ich Ihnen in einem kurzen Gespräch, wie das für die Creative Agency aussehen kann:\"\n- \"Wenn Sie möchten, erkläre ich Ihnen in einem kurzen Telefonat, wie das für die Bayer AG aussehen kann:\"\n- \"Wenn Sie möchten, erkläre ich Ihnen in einem kurzen Gespräch, wie das für prozessia aussehen kann:\"\n- \"Wenn Sie möchten, erkläre ich Ihnen in einem kurzen Telefonat, wie das für cipa+co 360° branding aussehen kann:\"\n\nAUSGABE:\nGib als Antwort GENAU EIN gültiges JSON-Objekt zurück, mit GENAU diesen Feldern (keine zusätzlichen Felder, keine Kommentare):\n\n{\n\"email\": \"{{$json.email}}\",\n\"industry\": \"{{$json.industry}}\",\n\"organization_name\": \"{{$json.organization_name}}\",\n\"organization_website_url\": \"{{$json.organization_website_url}}\",\n\"first_name\": \"{{$json.first_name}}\",\n\"last_name\": \"{{$json.last_name}}\",\n\"linkedin_url\": \"{{$json.linkedin_url}}\",\n\"salutation\": \"DEINE Anredezeile hier, gemäß den Regeln oben\",\n\"icebreaker_de\": \"DEIN Icebreaker-Text hier (max. 350 Zeichen, gemäß den Regeln oben)\",\n\"call_to_action\": \"DEIN CTA hier, im geforderten Stil\"\n}\n\nWICHTIG:\n- Es dürfen KEINE Zeilenumbrüche (\\n) in den Werten von \"salutation\", \"icebreaker_de\" oder \"call_to_action\" sein.\n- Alle Strings müssen in Anführungszeichen stehen.\n- Die Ausgabe muss gültiges JSON sein.\n",
        "messages": {
          "messageValues": [
            {
              "message": "Antworte mit genau einem gültigen JSON-Objekt. Kein zusätzlicher Text davor oder danach."
            }
          ]
        },
        "batching": {}
      },
      "id": "22993074-64c3-480c-ab21-398e38baab64",
      "name": "Generate Icebreaker",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3088,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd83aa70-d851-464e-9164-eb11a37edf2d",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "268a1191-230c-4cf3-a70f-f2688272c620",
      "name": "Set Icebreaker Field",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        480
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "ab497563-ae74-447a-b723-67da3fb5ba30",
      "name": "OpenAI Model Summary",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4592,
        288
      ],
      "credentials": {
        "openAiApi": {
          "id": "b1vtD2x5tpjNjKmo",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "070587d3-51d4-4c28-8242-7132ce0d42c7",
      "name": "OpenAI Model Icebreaker",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3376,
        592
      ],
      "credentials": {
        "openAiApi": {
          "id": "b1vtD2x5tpjNjKmo",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pageUrlsAbs",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "pageUrl"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2064,
        720
      ],
      "id": "2865f270-9945-4334-aee6-f0c0435d584b",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Kandidaten-URLs aus der Firmen-URL bauen (max 8)\n\nconst originRaw = String(\n  $json.pageUrl || $json.organization_website_url || ''\n).trim();\n\nif (!originRaw) {\n  // kein Ursprung -> leeres Array; später generischer Icebreaker\n  return { json: { ...$json, pageUrlsAbs: [] } };\n}\n\n// origin sicher normalisieren\nfunction normalize(u) {\n  let x = String(u || '').trim();\n  if (!/^https?:\\/\\//i.test(x)) x = 'https://' + x;\n  x = x.replace(/^http:\\/\\//i, 'https://').replace(/\\/+$/,'');\n  return x;\n}\nconst origin = normalize(originRaw);\n\n// Hilfsfunktion zum sicheren Absolutieren (auch für relative Pfade)\nfunction toAbs(p) {\n  try {\n    // p kann \"/\" oder \"/team\" etc. sein\n    return new URL(p, origin).toString();\n  } catch {\n    return '';\n  }\n}\n\n// Kandidatenpfade (Homepage zuerst)\nconst paths = [\n  '/', '/about','/ueber-uns','/über-uns','/team','/leistungen','/services',\n  '/referenzen','/cases','/work','/portfolio','/blog','/news',\n  '/kontakt','/contact','/karriere','/jobs','/inhouse','/academy','/training'\n];\n\nconst seen = new Set();\nconst urls = [];\n\n// Homepage rein\nconst home = toAbs('/');\nif (home && !seen.has(home)) { seen.add(home); urls.push(home); }\n\n// weitere Pfade anhängen (deterministisch)\nfor (const p of paths) {\n  const u = toAbs(p);\n  if (u && !seen.has(u)) { seen.add(u); urls.push(u); }\n  if (urls.length >= 8) break;\n}\n\n// Fallback: mindestens origin\nif (urls.length === 0) urls.push(origin);\n\n// WICHTIG: im Item-Modus EIN Objekt zurückgeben – KEIN Array!\nreturn { json: { ...$json, pageUrlsAbs: urls } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        688
      ],
      "id": "6a256c82-8234-43ee-ad3f-48fe77a28753",
      "name": "Build Candidate Pages"
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $json;\nreturn {\n  json: {\n    email: d.email || '',\n    industry: d.industry || '',\n    organization_name: d.organization_name || '',\n    organization_website_url: d.organization_website_url || '',\n    first_name: d.first_name || '',\n    name: d.name || '',\n    last_name: d.last_name || '',\n    firstClean: d.firstClean || (d.first_name ? d.first_name[0].toUpperCase()+d.first_name.slice(1).toLowerCase() : ''),\n    linkedin_url: d.linkedin_url || ''\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        880
      ],
      "id": "97f21872-9095-4c47-9d7b-9bfff6c7e769",
      "name": "keep meta"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        928
      ],
      "id": "c1821189-4c5e-404b-af4c-a5fce9729c01",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d33845-9799-4205-b94f-7d0fa358d57f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        320
      ],
      "id": "5f8454c5-e62a-428e-93a2-b899766a460a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// \"items\" ist ein Array aller eingehenden Items vom Merge-Node.\n// Wir bauen ein einziges Objekt, das alle Keys sammelt.\n\nconst merged = {};\n\n// alle Items durchgehen und deren json-Felder ins merged kippen\nfor (const item of items) {\n  for (const key of Object.keys(item.json)) {\n    // Falls der Key noch nicht gesetzt ist, übernehmen\n    if (merged[key] === undefined || merged[key] === null || merged[key] === \"\") {\n      merged[key] = item.json[key];\n    }\n  }\n}\n\n// Sonderfall: Falls \"text\" noch ein Objekt ist wie { abstract: \"...\" },\n// machen wir daraus direkt den eigentlichen String.\nif (\n  merged.text &&\n  typeof merged.text === \"object\" &&\n  merged.text.abstract &&\n  typeof merged.text.abstract === \"string\"\n) {\n  merged.text = merged.text.abstract;\n}\n\n// Jetzt haben wir ein einziges kombiniertes Item.\n// n8n erwartet ein Array von Items als Rückgabe.\nreturn [\n  {\n    json: merged,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        912
      ],
      "id": "fa8536c1-72c1-45ac-94d6-d3fbc8fe34a6",
      "name": "merged"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Hole die Rohantwort aus dem LLM-Node\n// Die steckt aktuell in item.json.text als String\nlet raw = item.json.text || \"\";\n\n// 1a. Safeguard: Manche Modelle packen ```json ... ``` drumrum.\n// Wir versuchen, sowas wegzuschneiden.\nraw = raw.trim();\n\n// Falls der Output in einem Codeblock steckt, z.B.\n// ```json\n// { ... }\n// ```\n// dann holen wir nur den Inhalt zwischen den ersten { und dem letzten }\nconst firstBrace = raw.indexOf('{');\nconst lastBrace = raw.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  raw = raw.slice(firstBrace, lastBrace + 1);\n}\n\n// 2. Versuch, das JSON zu parsen\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  parsed = {};\n}\n\n// 3. Rückgabeobjekt zusammenbauen\n// Falls Felder fehlen -> '', damit CSV immer stabil bleibt.\nreturn {\n  json: {\n    email: parsed.email || '',\n    industry: parsed.industry || '',\n    organization_name: parsed.organization_name || '',\n    organization_website_url: parsed.organization_website_url || '',\n    first_name: parsed.first_name || '',\n    last_name: parsed.last_name || '',\n    linkedin_url: parsed.linkedin_url || '',\n\n    // NEU:\n    salutation: parsed.salutation || '',\n    icebreaker_de: parsed.icebreaker_de || '',\n    call_to_action: parsed.call_to_action || ''\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        384
      ],
      "id": "34eedf3b-49aa-4baf-9854-330828741f02",
      "name": "parse"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Stammdaten aus dem Lead holen\nconst lead = item.json;\n\n// Hilfsfunktion: saubere URL generieren\nfunction normalizeUrl(u) {\n  if (!u) return \"\";\n  let url = u.trim();\n\n  // Wenn kein Protokoll angegeben ist, probier erstmal https\n  if (!/^https?:\\/\\//i.test(url)) {\n    url = \"https://\" + url;\n  }\n\n  return url;\n}\n\n// Hilfsfunktion: Request ohne Throw, aber jetzt mit \"echtem Browser\"-Header\nasync function safeRequest(urlToTry) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: urlToTry,\n      followRedirect: true,\n      // viele Firmen leiten x-mal rum -> gib ihnen Luft\n      maxRedirects: 12,\n      // manche Seiten haben krumme Zertifikate -> wir wollen nicht crashen\n      rejectUnauthorized: false,\n      timeout: 10000,\n      // GANZ WICHTIG: wir tun so, als wären wir ein normaler Browser\n      headers: {\n        \"User-Agent\":\n          \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0 Safari/537.36\",\n        \"Accept\":\n          \"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\",\n        \"Accept-Language\": \"de-DE,de;q=0.9,en;q=0.8\",\n        \"Connection\": \"keep-alive\",\n      },\n      // Wir wollen den Body als Text zurück, nicht als JSON parsen\n      json: false,\n    });\n\n    // n8n kann je nach Version entweder direkt den Body als string liefern\n    // oder ein Objekt mit .body / .data. Wir normalisieren das:\n    let bodyText = \"\";\n\n    if (typeof res === \"string\") {\n      bodyText = res;\n    } else if (res && typeof res.body === \"string\") {\n      bodyText = res.body;\n    } else if (res && typeof res.data === \"string\") {\n      bodyText = res.data;\n    } else {\n      bodyText = \"\";\n    }\n\n    const statusCode =\n      (res && res.statusCode !== undefined\n        ? res.statusCode\n        : res && res.status !== undefined\n        ? res.status\n        : 200);\n\n    return {\n      ok: true,\n      statusCode,\n      body: bodyText,\n    };\n  } catch (err) {\n    return {\n      ok: false,\n      statusCode: err.statusCode ?? null,\n      body: \"\",\n      error: err.message || String(err),\n    };\n  }\n}\n\n// ---- 1. URL-Kandidaten bauen ---------------------------------------------\n\nconst rawUrl =\n  lead.organization_website_url ||\n  lead.organization_website ||\n  lead.pageUrl ||\n  lead.url ||\n  \"\";\n\nconst candidates = [];\nconst base = normalizeUrl(rawUrl);\n\n// Hilfsfunktion, um Varianten reinzuschieben ohne Duplikate\nfunction pushUnique(u) {\n  if (!u) return;\n  if (!candidates.includes(u)) {\n    candidates.push(u);\n  }\n}\n\nif (base) {\n  pushUnique(base);\n\n  // trailing slash Variationen\n  if (!base.endsWith(\"/\")) {\n    pushUnique(base + \"/\");\n  }\n\n  // https://www.domain.tld\n  const withWWW = base.replace(\"://\", \"://www.\");\n  pushUnique(withWWW);\n  if (!withWWW.endsWith(\"/\")) {\n    pushUnique(withWWW + \"/\");\n  }\n\n  // http statt https\n  if (base.startsWith(\"https://\")) {\n    const httpVariant = base.replace(/^https:\\/\\//i, \"http://\");\n    pushUnique(httpVariant);\n    if (!httpVariant.endsWith(\"/\")) {\n      pushUnique(httpVariant + \"/\");\n    }\n\n    const httpWWW = httpVariant.replace(\"://\", \"://www.\");\n    pushUnique(httpWWW);\n    if (!httpWWW.endsWith(\"/\")) {\n      pushUnique(httpWWW + \"/\");\n    }\n  }\n}\n\n// Falls gar keine URL da ist → unusable zurückgeben und gut\nif (candidates.length === 0) {\n  return {\n    json: {\n      ...lead,\n      website_final: \"\",\n      statusCode: null,\n      html_raw: \"<div></div>\",\n      fetch_status: \"NO_URL\",\n      usable: false,\n    },\n  };\n}\n\n// ---- 2. Wir probieren die Kandidaten nacheinander ------------------------\n//\n// Idee jetzt verbessert:\n// - Wir versuchen alle Varianten mit Browser-Headern.\n// - Wir merken uns den \"bestAttempt\": also die beste Antwort, die überhaupt HTML geliefert hat,\n//   auch wenn Status-Code nicht sauber ist (403 mit Cloudflare-Seite, Login-Page, etc.).\n// - Wenn wir eine wirklich gute Seite finden (okHtml + Status < 400), brechen wir ab.\n// - Wenn wir nur einen halb-guten Body finden (Cloudflare/Login-HTML), nutzen wir den trotzdem,\n//   statt \"<div></div>\" zurückzugeben. So hat das LLM wenigstens irgendwas und schreibt nicht\n//   \"euer Außenauftritt zeigt nichts\".\n\nlet finalHtml = \"\";\nlet finalStatus = null;\nlet finalUrl = \"\";\nlet gotGoodPage = false;\n\n// \"bestAttempt\" = irgendwas mit nicht-leerem HTML,\n// falls wir keine perfekte Seite finden\nlet bestHtml = \"\";\nlet bestStatus = null;\nlet bestUrl = \"\";\n\nfor (const candidateUrl of candidates) {\n  const res = await safeRequest.call(this, candidateUrl);\n\n  // Request selber ist komplett gescheitert? Dann nächste Variante.\n  if (!res.ok) {\n    continue;\n  }\n\n  const bodyTrim = (res.body || \"\").trim();\n  const hasHtml = bodyTrim !== \"\";\n\n  // Wenn die Seite IRGENDETWAS geliefert hat, merken wir sie uns als bestAttempt\n  if (hasHtml && !bestHtml) {\n    bestHtml = res.body;\n    bestStatus = res.statusCode ?? null;\n    bestUrl = candidateUrl;\n  }\n\n  // \"wirklich gut\" definieren wir so:\n  // - Wir haben HTML\n  // - StatusCode < 400 (200er / 300er)\n  if (hasHtml && (res.statusCode == null || res.statusCode < 400)) {\n    finalHtml = res.body;\n    finalStatus = res.statusCode ?? null;\n    finalUrl = candidateUrl;\n    gotGoodPage = true;\n    break;\n  }\n}\n\n// ---- 3. Wenn wir KEINE \"wirklich gute\" Seite gefunden haben --------------\n//\n// Aber wir haben evtl. doch irgendeinen HTML-Body (Login-Seite, Cloudflare-Challenge,\n// \"Just a moment...\" etc.). Das ist besser als gar nix, weil sonst unser Icebreaker\n// später behauptet \"man sieht nix öffentlich\".\n// => Dann nehmen wir bestAttempt trotzdem und markieren usable: true (soft OK).\n\nif (!gotGoodPage) {\n  if (bestHtml && bestHtml.trim() !== \"\") {\n    // halb-guter Fallback\n    return {\n      json: {\n        ...lead,\n        website_final: bestUrl || candidates[0] || \"\",\n        statusCode: bestStatus,\n        html_raw: bestHtml,\n        fetch_status: \"OK_SOFT\",\n        usable: true, // wichtig: true statt false -> Downstream bekommt Kontext\n      },\n    };\n  }\n\n  // wirklich gar nichts Brauchbares...\n  return {\n    json: {\n      ...lead,\n      website_final: candidates[0] || \"\",\n      statusCode: finalStatus,\n      html_raw: \"<div></div>\", // Dummy, damit Downstream nicht crasht\n      fetch_status: \"BAD\",\n      usable: false,\n    },\n  };\n}\n\n// ---- 4. Erfolg! Wir haben echten HTML-Body -------------------------------\n// usable = true, html_raw = echter Body\n\nreturn {\n  json: {\n    ...lead,\n    website_final: finalUrl,\n    statusCode: finalStatus,\n    html_raw: finalHtml,\n    fetch_status: \"OK\",\n    usable: true,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        576
      ],
      "id": "149c7833-dbb0-4b85-a4b9-c1c4fc4c2167",
      "name": "fetch1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = item.json;\n\n// sichergehen, dass wir immer was zum weiterverarbeiten haben\nconst safeHtml = (lead.html_raw && typeof lead.html_raw === 'string' && lead.html_raw.trim() !== '')\n  ? lead.html_raw\n  : '<div></div>';\n\nconst safeSummary = (lead.summary_for_llm && typeof lead.summary_for_llm === 'string')\n  ? lead.summary_for_llm\n  : '';\n\nconst safeIcebreaker = (lead.icebreaker_de && typeof lead.icebreaker_de === 'string')\n  ? lead.icebreaker_de\n  : '';\n\n// usable muss existieren, sonst stolpert PrepareRow / ShouldStore?\n// Falls du usable woanders definierst, nimm das. Falls nicht, fallback auf true.\nconst safeUsable =\n  (lead.usable === true || lead.usable === 'true' || lead.usable === 1 || lead.usable === '1')\n    ? true\n    : false;\n\n// WICHTIG: wir geben IMMER diese Felder raus.\n// D.h. nach Guard sieht jedes Item sauber aus und die nächsten Nodes können sich drauf verlassen.\nreturn {\n  json: {\n    ...lead,\n    usable: safeUsable,\n    html_for_llm: safeHtml,\n    summary_for_llm: safeSummary,\n    icebreaker_de: safeIcebreaker,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        576
      ],
      "id": "2ea6bc35-ae85-410e-af4a-1dc87059d49c",
      "name": "Guard"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = item.json;\nif (!lead.content) {\n  lead.content = \"\";\n}\nreturn { json: lead };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        64
      ],
      "id": "1f0fb762-6801-4387-a9fa-38a0a6e0f5ed",
      "name": "prepmarkdown"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = item.json;\n\n// Prüfen, ob dieser Lead \"brauchbar\" ist:\nconst isUsable =\n  lead.usable === true ||\n  lead.usable === 'true' ||\n  lead.usable === 1 ||\n  lead.usable === '1';\n\n// Hat der Lead wirklich einen Icebreaker-Text?\nconst hasIcebreaker =\n  lead.icebreaker_de &&\n  lead.icebreaker_de.trim() !== \"\";\n\n// Hat der Lead einen CTA?\nconst hasCta =\n  lead.call_to_action &&\n  lead.call_to_action.trim() !== \"\";\n\n// Optional: Hat der Lead eine saubere Anrede?\n// (Wir werten sie nicht hart fürs shouldStore,\n// aber du könntest das einklinken wenn du willst.)\nconst hasSalutation =\n  lead.salutation &&\n  lead.salutation.trim() !== \"\";\n\n// Unser Kriterium fürs Speichern:\n// usable + Icebreaker + CTA\nconst shouldStore = isUsable && hasIcebreaker && hasCta;\n\n// Wir bauen eine flache Row = genau das, was später ins Sheet soll:\nconst row = {\n  email: lead.email || \"\",\n  industry: lead.industry || \"\",\n  organization_name: lead.organization_name || \"\",\n  organization_website_url: lead.organization_website_url || lead.website_final || \"\",\n  first_name: lead.first_name || \"\",\n  last_name: lead.last_name || \"\",\n  linkedin_url: lead.linkedin_url || \"\",\n\n  // NEU:\n  salutation: (lead.salutation || \"\").trim(),\n  icebreaker_de: (lead.icebreaker_de || \"\").trim(),\n  call_to_action: (lead.call_to_action || \"\").trim()\n};\n\n// Wir liefern zurück:\n// - alle Originaldaten (falls du die noch brauchst, z.B. Debugging)\n// - __row = fertige Zeile für Sheet\n// - __shouldStore = true/false (Speichern ja/nein)\nreturn {\n  json: {\n    ...lead,\n    __row: row,\n    __shouldStore: shouldStore\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4224,
        624
      ],
      "id": "f38e0c3d-38f9-4050-9cef-5f57deaba8e0",
      "name": "prepare row"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yiZTpDfzAxtU8iJlPuzrCX3lrSIJg_usQfJkiL0wCQo",
          "mode": "list",
          "cachedResultName": "final",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yiZTpDfzAxtU8iJlPuzrCX3lrSIJg_usQfJkiL0wCQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 125766575,
          "mode": "list",
          "cachedResultName": "werbe_final",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yiZTpDfzAxtU8iJlPuzrCX3lrSIJg_usQfJkiL0wCQo/edit#gid=125766575"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "industry": "={{ $json.industry }}",
            "organization_name": "={{ $json.organization_name }}",
            "organization_website_url": "={{ $json.organization_website_url }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "linkedin_url": "={{ $json.linkedin_url }}",
            "icebreaker_de": "={{ $json.icebreaker_de }}",
            "salutation": "={{ $json.salutation }}",
            "call_to_action": "={{ $json.call_to_action }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization_website_url",
              "displayName": "organization_website_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "icebreaker_de",
              "displayName": "icebreaker_de",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salutation",
              "displayName": "salutation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_to_action",
              "displayName": "call_to_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3904,
        1056
      ],
      "id": "bc9ba7ed-4580-40f1-be4f-fc4c0e32a51d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yvfb5MwKFA0p9AAf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sOw8zpMkmfsh6v-boxNojnXPVSskselhZ8jYtfwp9Gc",
          "mode": "list",
          "cachedResultName": "cleaned_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sOw8zpMkmfsh6v-boxNojnXPVSskselhZ8jYtfwp9Gc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1602525482,
          "mode": "list",
          "cachedResultName": "Copy of Werbedienstleistungen_clean_2025-10-14",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sOw8zpMkmfsh6v-boxNojnXPVSskselhZ8jYtfwp9Gc/edit#gid=1602525482"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        400
      ],
      "id": "b84b7823-b93a-4d3f-93e5-7ef326662065",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yvfb5MwKFA0p9AAf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        144
      ],
      "id": "2a7da041-2bef-4f72-86ee-30e33943160d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yiZTpDfzAxtU8iJlPuzrCX3lrSIJg_usQfJkiL0wCQo",
          "mode": "list",
          "cachedResultName": "final",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yiZTpDfzAxtU8iJlPuzrCX3lrSIJg_usQfJkiL0wCQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 125766575,
          "mode": "list",
          "cachedResultName": "werbe_final",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yiZTpDfzAxtU8iJlPuzrCX3lrSIJg_usQfJkiL0wCQo/edit#gid=125766575"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        112
      ],
      "id": "52cd07db-a64b-4e60-ac14-c82810903a93",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yvfb5MwKFA0p9AAf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. processedCount aus collect_state holen\nconst stateItems = $items(\"collect_state\");\n// Erwartung: genau 1 Item\nconst processedCount = stateItems[0]?.json?.processedCount ?? 0;\n\n// 2. komplette Lead-Liste aus \"Get row(s) in sheet\"\nconst leadItems = $items(\"Get row(s) in sheet\");  // EXAKTER Node-Name im Canvas!\nconst allLeads = leadItems.map(i => i.json);\n\n// 3. Batch-Size definieren (z. B. 50 pro Run)\nconst BATCH_SIZE = 50;\n\n// 4. Fenster berechnen\nconst startRow = processedCount;\nconst endRow = startRow + BATCH_SIZE;\n\nconst subset = allLeads.slice(startRow, endRow);\n\n// 5. Wenn es keine neuen Leads mehr gibt → leer zurückgeben, Execution endet sauber\nif (subset.length === 0) {\n  return [];\n}\n\n// 6. Subset als Items für den Rest des Flows ausgeben\nreturn subset.map(lead => ({ json: lead }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        368
      ],
      "id": "1db2d16a-442a-4834-aef1-f8a2f1eda541",
      "name": "build Batch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        640
      ],
      "id": "50e2f447-3e7b-4bcb-92cd-855fd6e0b791",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Alle Items aus \"Get row(s) in sheet1\" kommen oben rein.\n// sheet1 = dein Final-Sheet, also \"schon verarbeitet\".\nconst doneItems = $items(); // alle Items von vorheriger Node\n\n// Anzahl bereits verarbeiteter Zeilen bestimmen.\n// (leere JSONs filtern wir raus, falls Google Sheets mal leere Row zurückgibt)\nconst processedCount = doneItems.filter(it => Object.keys(it.json || {}).length > 0).length;\n\n// Wir geben jetzt EXAKT EIN Item zurück, mit nur diesem Counter.\n// Ab jetzt trägt der Flow nur noch 1 Item weiter, statt 47.\nreturn [\n  {\n    json: {\n      processedCount\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        608
      ],
      "id": "b3554e95-f413-4b9a-b5af-97687e3a3ed0",
      "name": "collect_state"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Wir laufen \"Run Once for Each Item\"\n// Input kommt direkt von \"Extract HTML Content\"\n// Manche Items haben gar keinen Body -> dann würden wir craschen.\n// Ziel: immer ein valides Feld `content` nach draußen geben.\n\nconst input = item.json || {};\n\n// Fall A: Extract HTML Content hat dir den Body in `content` abgelegt\n// (das ist bei dir ja genau so konfiguriert: Key = \"content\")\nlet html = input.content || \"\";\n\n// (Optional) Wenn du irgendwann mehrere Keys extrahierst, kannst du hier fallbacken:\n// html = input.main || input.body || input.content || \"\";\n\nconst looksEmpty = !html || html.trim() === \"\";\nconst looksTrash =\n  /<frameset/i.test(html) ||\n  /<frame/i.test(html) ||\n  /searchivity/i.test(html) ||\n  /parking/i.test(html);\n\n// Wenn wir nix sinnvolles haben -> Dummy geben statt undefined\nif (looksEmpty || looksTrash) {\n  html = \"<div></div>\";\n}\n\n// GANZ WICHTIG: wir geben wieder ein Item zurück,\n// und dieses Item hat **content**, weil \"HTML to Markdown\" das erwartet.\nreturn {\n  json: {\n    content: html\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        64
      ],
      "id": "a2934fa9-bcf5-480e-a405-f49d83abc7aa",
      "name": "Prep Markdown"
    }
  ],
  "pinData": {
    "OpenAI Model Summary": [
      {
        "json": {
          "isArtificialRecoveredEventItem": true
        }
      }
    ],
    "OpenAI Model Icebreaker": [
      {
        "json": {
          "isArtificialRecoveredEventItem": true
        }
      }
    ]
  },
  "connections": {
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Check Email and Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email and Website": {
      "main": [
        [
          {
            "node": "Build Candidate Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML Content": {
      "main": [
        [
          {
            "node": "Prep Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Markdown": {
      "main": [
        [
          {
            "node": "prepmarkdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate Text": {
      "main": [
        [
          {
            "node": "Summarize Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Page": {
      "main": [
        [
          {
            "node": "Parse JSON Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Icebreaker": {
      "main": [
        [
          {
            "node": "parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model Summary": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Page",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model Icebreaker": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Icebreaker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "fetch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Summary": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Icebreaker Field": {
      "main": [
        [
          {
            "node": "prepare row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Candidate Pages": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "keep meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "keep meta": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "merged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merged": {
      "main": [
        [
          {
            "node": "Generate Icebreaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse": {
      "main": [
        [
          {
            "node": "Set Icebreaker Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch1": {
      "main": [
        [
          {
            "node": "Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard": {
      "main": [
        [
          {
            "node": "Extract HTML Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepmarkdown": {
      "main": [
        [
          {
            "node": "Truncate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare row": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "build Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "collect_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build Batch": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "collect_state": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Markdown": {
      "main": [
        [
          {
            "node": "HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "cbed4007-d6e1-4ffa-9624-33a8a898156a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bae1635408996b89510c6bd85ac0a918d92dc5c79450224d09be1846b47d90f7"
  },
  "id": "Cd2UtLabLuk0eQGh",
  "tags": []
}